* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Work Sans";
    /*font-family: "D2CodingLigature Nerd Mono";*/
    font-weight: 500;
    font-size: 14pt;
    min-height: 0;
}

window#waybar {
}

window#waybar.hidden {
    opacity: 0.2;
}

#waybar.empty #window {
    background-color: transparent;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
}

button:hover {
    background: inherit;
    border-top: 2px solid #c9545d;
}

#workspaces button {
    padding: 0 4px;
    color: white;
}

#workspaces {
}

#workspaces button:hover {
}

#workspaces button.active {
    /*    box-shadow: inset 0 -2px #c9545d; */
    background-color: rgb(255, 255, 255);
    color: #000000;
    /*border-top: 2px solid #c9545d;*/
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#workspaces,
#window {
    margin: 2px;
    /*padding: 5px;*/
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
